:root {
  --sidebar-bg-color: #cf0a0a;
  --sidebar-bg-hover: #dfdcdc;
  --sidebar-bg-active: #000000;
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  background-color: #eee;
}

main {
  margin: 0 auto;
  max-width: 768px;
  padding: 1.5rem;
}

