:root {
	--primary: #4a66e4;
	--grey: #64748b;
	--dark: #1e293b;
	--dark-alt: #334155;
	--light: #f1f5f9;
	--light-alt:#e0e0e0;
	--sidebar-width: 300px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira sans', sans-serif;
}

body {
	background: var(--light-alt);
}

p {
	margin-left: 70px;
}

h2 {
	margin-left: 70px;
}

main {
	margin: 0;
	padding: 1.5rem;
}

button {
	cursor: pointer;
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

