@import './base.css';

h1 {
text-align: center;
margin-bottom: 1.5rem;
}

.button {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;

  display: block;
  padding: 0.5rem 0.5rem;
  background: var(--dark);
  background-size: 200%;
  color: var(--light);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: opacity, background-color 0.125s;
}

.button:hover {
  background-color: var(--dark-alt);
  background-position: right;
}

.button:active {
  opacity: 0.8;
}








.results {
  background-color: var(--light);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  min-width: 400px;
  margin-left: 42px;
}

.result {
  display: flex;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--grey);
  border-radius: 6px;
}

.result img {
  max-width: 200px;
  max-height: 280px;
  border-radius: 1rem;
  margin-right: 1rem;
}

.details {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 0%;
}

.details h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
  color: #303030;
}

.details p {
  font-size: 0.875rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.details .button {
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 768px) {
  form {
    max-width: calc(100% - 70px); 
  }

  form input {
    max-width: 100%;  
  }

  .results {
    margin-left: 36px; 
  }

  .result {
    flex-direction: column;
    align-items: center;
  }
  .result img {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}


